<div class="new_ticket_content">
    <div class="btr-panel">
        <h4 class="main_title">New ticket</h4>

        <form name="ticketForm" class="form-horizontal">
            <fieldset>

                <div class="control-group">
                    <label class="control-label">Created Date</label>

                    <div class="controls">

                        <span>{{ticket.createdDate | date:"dd/MM/yyyy"}}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="title">Title</label>

                    <div class="controls">
                        <input type="text" data-ng-model="ticket.title" id="title" ng-readonly="false" required>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="description">Description</label>

                    <div class="controls">
                        <textarea id="description" data-ng-model="ticket.description" class="new_ticket_desc"
                                  required></textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="type">* Type</label>

                    <div class="controls">
                        <select data-ng-model="ticket.type" id="type" required>
                            <option value="Logic bug" selected="selected">Logic bug</option>
                            <option value="Syntax bug">Syntax bug</option>
                            <option value="Resource bug">Resource bug</option>
                            <option value="Interfacing bug">Interfacing bug</option>
                            <option value="Performance bug ">Performance bug</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="status">Status</label>

                    <div class="controls">
                        <input type="text" id="status" class="status_todo" readonly>
                        <span class="status_span">{{ticket.status}}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="priority">Priority</label>

                    <div class="controls">
                        <select id="priority" data-ng-model="ticket.priority" required>
                            <option value="Low">Low-Impact</option>
                            <option value="Normal">Normal</option>
                            <option value="Important">Important</option>
                            <option value="Dangerous">Dangerous</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="assignee">* Assignee</label>

                    <div class="controls" id="assignee">
                        <input type="text" ng-model="ticket.assignee" typeahead-template-url typeahead-loading  typeahead="user for user in getAuthors($viewValue)" >
                    </div>
                </div>

                <div class="control-group">
                    <div class="controls submit_panel">
                        <input class="btn btn-primary" ng-disabled="ticketForm.$invalid" ng-click="postTicketToDb(ticket)"
                               type="submit" value="Add">
                        <a class="btn" ui-sref="board">Cancel</a>
                    </div>
                </div>
            </fieldset>
        </form>


    </div>
</div>

