<content>
    <div class="row">
        <div ng-repeat="(zone, list) in models.dropzones" class="col-md-4">
            <div class="dropzone box box-yellow">
                <h3 id="{{zone}}">Dropzone {{zone}}</h3>

                <div>
                    <ul class="drop_list" dnd-list="list">
                        <h3>{{bug.status}}</h3>
                        <li ng-repeat="ticket in list track by ticket.createdDate"
                            bt-ticket
                            dnd-draggable="ticket"
                            dnd-effect-allowed="move"
                            dnd-moved="list.splice($index, 1)"
                            dnd-selected="models.selected = ticket"
                            ng-class="{selected: models.selected === ticket}">
                        </li>
                    </ul>
                </div>
            </div>
        </div>
    </div>
</content>


