<div class="new_ticket_content">

    <div class="btr-panel">
        <h4 class="main_title">Edit ticket # {{ticket.id}}</h4>

        <form name="ticketForm" class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="title">Title</label>

                    <div class="controls">
                        <input type="text" id="title" ng-readonly="false" value='{{ticket.title}}'
                               data-ng-model="ticket.title">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="created_date">Created Date</label>

                    <div class="controls">
                        <input data-ng-model="ticket.createdDate" type="text" id="created_date" ng-readonly="true"
                               value='{{ticket.createdDate}}'>
                        <span>{{ticket.createdDate | date:"dd/MM/yyyy"}}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="description">Description</label>

                    <div class="controls">
                        <textarea id="description" data-ng-model="ticket.description" class="new_ticket_desc" rows="7"
                                  required>
                            {{ticket.description}}
                        </textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="type">* Type</label>

                    <div class="controls">
                        <select id="type" ng-readonly="readonly" required value="{{ticket.type}}"
                                data-ng-model="ticket.type">
                            <option value="Logic bug">Logic bug</option>
                            <option value="Syntax bug">Syntax bug</option>
                            <option value="Resource bug">Resource bug</option>
                            <option value="Interfacing bug">Interfacing bug</option>
                            <option value="Performance bug ">Performance bug</option>

                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="priority">Priority</label>

                    <div class="controls">
                        <select id="priority" value="{{ticket.priority}}" ng-readonly="readonly"
                                data-ng-model="ticket.priority" required>
                            <option value="Low">Low</option>
                            <option value="Normal">Normal</option>
                            <option value="Important">Important</option>
                            <option value="Dangerous">Dangerous</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="assignee">* Assignee</label>

                    <div class="controls">
                        <input class="span2" value="{{ticket.assignee}}" type="text" id="assignee"
                               data-ng-model="ticket.assignee" ng-readonly="readonly">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="status">Status</label>

                    <div class="controls">
                        <select id="status" ng-value="{{ticket.status}}" data-ng-model="ticket.status"
                                ng-readonly="readonly" required>
                            <option value="todo">To Do</option>
                            <option value="inprogress">In Progress</option>
                            <option value="resolved">Resolved</option>
                        </select>
                    </div>
                </div>

                <div class="control-group submit_panel">
                    <div class="controls">
                        <input class="btn btn-primary" ng-click="edit(ticket)" type="submit" value="Edit">
                        <a class="btn" ui-sref="board">Cancel</a>
                        <a class="btn" ng-click="remove(ticket)">Remove</a>
                    </div>
                </div>
            </fieldset>
           <div>
                <div>
                    <button ng-click='toggleModal()'>track your working time</button>
                    <modal-dialog show='modalShown' width='400px' height='400px'>
                        <input  ng-model="ticket.trackTime" />

                    </modal-dialog>
                </div>
            </div>
                <hr>

            <tabset justified="true">
                <tab heading="Comments">
                    <div class="control-group">
                        <form name="commentForm">
                            <fieldset>
                                <label class="control-label" class="comments_head" for="comments">leave your comment</label>

                                <div class="controls">
                                    <textarea id="comments" data-ng-model="commentData.comment" class="coment_textarea"
                                              placeholder="Something about problem" rows="7" type="text"

                                              ng-readonly="readonly"></textarea>
                                    <span class="name_author clearfix">your name</span><input data-ng-model="commentData.author"
                                                                                     type="text"
                                                                                     placeholder="John Doe"
                                                                                     class="coment_author"
                                                                                     ng-readonly="readonly"
                                                                                     maxlength="20">
                                </div>
                                <input class="btn btn-primary post-comment" ng-disabled="commentForm.$invalid"
                                       ng-click="addComment(commentData)"
                                       value="Post comment">
                            </fieldset>
                        </form>

                        <div data-ng-repeat="comment in ticket.comments track by comment.date">
                            <div class="coment_wrap">
                                <div class="coment_com_leaved">{{comment.comment}}</div>
                                <div class="coment_author_leaved">author: {{comment.author}}</div>
                                <div class="coment_date_leaved">date: {{comment.date | date:"dd/MM/yyyy"}}</div>
                            </div>
                        </div>


                        <div>
                            <div class="coment_wrap">
                                <div class="coment_com_leaved" data-ng-bind="commentData.comment" class="coment"></div>
                                <div class="coment_author_leaved" data-ng-bind="commentData.author"></div>
                                <div class="coment_date_leaved">{{comment.date}}</div>
                            </div>
                        </div>
                    </div>
                </tab>
                <tab heading="Worklog">
                    <div class="control-group">
                        work log
                    </div>
                </tab>

            </tabset>


        </form>
    </div>
</div>
