<div class="new_ticket_content">

    <div class="btr-panel">
        <h4 class="main_title">Edit ticket # {{edit_bug.id}}</h4>

        <form name="ticketForm" class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="title">Title</label>

                    <div class="controls">
                        <input type="text"  id="title" ng-readonly="false" value='{{edit_bug.title}}' data-ng-model="edit_bug.title">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="created_date">Created Date</label>

                    <div class="controls">
                        <input data-ng-model="edit_bug.createdDate" type="text" id="created_date" ng-readonly="true" value='{{edit_bug.createdDate}}'>
                        <span>{{edit_bug.createdDate}}</span>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="description">Description</label>

                    <div class="controls">
                        <textarea id="description" data-ng-model="edit_bug.description" class="new_ticket_desc" rows="7" type="text" required>
                            {{edit_bug.description}}
                        </textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="type">* Type</label>

                    <div class="controls">
                        <select id="type" ng-readonly="readonly" required value="{{edit_bug.type}}" data-ng-model="edit_bug.type">
                            <option value="Logic bug">Logic bug</option>
                            <option value="Syntax bug">Syntax bug</option>
                            <option value="Resource bug">Resource bug</option>
                            <option value="Interfacing bug">Interfacing bug</option>
                            <option value="Performance bug ">Performance bug</option>

                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="priority">Priority</label>

                    <div class="controls">
                        <select id="priority" value="{{edit_bug.value}}" ng-readonly="readonly" data-ng-model="edit_bug.value" required>
                            <option value="1">Low</option>
                            <option value="2">Normal</option>
                            <option value="3">Important</option>
                            <option value="4 ">Dangerous</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="assignee">* Assignee</label>

                    <div class="controls">
                        <input class="span2" value="{{edit_bug.assignee}}" type="text" id="assignee" data-ng-model="edit_bug.assignee" ng-readonly="readonly">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="status">Status</label>

                    <div class="controls">
                        <select id="status" ng-value="{{edit_bug.status}}" data-ng-model="edit_bug.status"  ng-readonly="readonly" required>
                            <option value="todo">To Do</option>
                            <option value="inprogress">In Progress</option>
                            <option value="resolved ">Resolved</option>
                        </select>
                    </div>
                </div>

                <div class="control-group submit_panel">
                    <div class="controls">
                        <a class="btn btn-primary" ng-click="edit(edit_bug)" type="submit">Edit</a>
                        <a class="btn" ng-href="#/">Cancel</a>
                    </div>
                </div>
            </fieldset>


            <hr>
            <div class="control-group">
                <form name="commentForm">
                    <label class="control-label" for="comments">leave your comment</label>

                    <div class="controls">

                        <textarea id="comments" data-ng-model="ticket.comment" class="coment_textarea" placeholder="Something about problem" rows="7" type="text"ng-readonly="readonly"></textarea>
                        <span class="name_author">your name</span><input data-ng-model="ticket.comment_author"
                                                                         type="text"
                                                                         placeholder="John Doe" class="coment_author"
                                                                         ng-readonly="readonly"
                                                                         maxlength="20">


                        <a class="btn btn-primary" ng-click="addReview(ticket)" type="submit">Post a comment</a>
                    </div>
                </form>
            </div>
            <div data-ng-repeat="comment in edit_bug.comments">
                <div class="coment_wrap">
                    <div class="coment_com_leaved">{{comment.comment}}</div>
                    <div class="coment_author_leaved">author: {{comment.author}}</div>
                    <div class="coment_date_leaved">date: {{comment.date}}</div>
                </div>
            </div>


            <div>
                <div class="coment_wrap">
                    <div class="coment_com_leaved" data-ng-bind="ticket.comment" class="coment"></div>
                    <div class="coment_author_leaved" data-ng-bind="ticket.comment_author"></div>
                    <div class="coment_date_leaved">{{comment.date}}</div>
                </div>
            </div>

        </form>
    </div>
</div>
