<div class="new_ticket_content">

    <div class="btr-panel">
        <h4 class="main_title">Edit ticket # {{bugId}}</h4>

        <form name="ticketForm" class="form-horizontal">
            <fieldset>
                <div class="control-group">
                    <label class="control-label" for="title">Title</label>

                    <div class="controls">
                        <input data-ng-model="title" type="text" id="title" ng-readonly="false" value=''>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="created_date">Created Date</label>

                    <div class="controls">
                        <input data-ng-model="createdDate" type="text" id="created_date" ng-readonly="true" value=''>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="description">Description</label>

                    <div class="controls">
                        <textarea data-ng-model="desc" id="description" class="new_ticket_desc" rows="7" type="text"
                                  ng-readonly="readonly" required>{{th.id}}</textarea>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="type">* Type</label>

                    <div class="controls">
                        <select data-ng-model="type" id="type" ng-readonly="readonly" required>
                            <option value="Logic bug">Logic bug</option>
                            <option value="Syntax bug">Syntax bug</option>
                            <option value="Resource bug">Resource bug</option>
                            <option value="Interfacing bug">Interfacing bug</option>
                            <option value="Performance bug ">Performance bug</option>

                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="priority">Priority</label>

                    <div class="controls">
                        <select id="priority" data-ng-model="priority" ng-readonly="readonly" required>
                            <option value="1">Low</option>
                            <option value="2">Normal</option>
                            <option value="3">Important</option>
                            <option value="4 ">Dangerous</option>
                        </select>
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="assignee">* Assignee</label>

                    <div class="controls">
                        <input class="span2" data-ng-model="assignee" type="text" id="assignee" ng-readonly="readonly">
                    </div>
                </div>
                <div class="control-group">
                    <label class="control-label" for="status">Status</label>

                    <div class="controls">
                        <select id="status" data-ng-model="status" ng-readonly="readonly" required>
                            <option value="todo">To Do</option>
                            <option value="inprogress">In Progress</option>
                            <option value="resolved ">Resolved</option>
                        </select>
                    </div>
                </div>

                <div class="control-group submit_panel">
                    <div class="controls">
                        <a class="btn btn-primary" ng-click="" type="submit">Edit</a>
                        <a class="btn" ng-href="#/">Cancel</a>
                    </div>
                </div>
            </fieldset>


            <hr>
            <div class="control-group">
                <form name="commentForm">
                    <label class="control-label" for="comments">leave your comment</label>

                    <div class="controls">

                        <textarea id="comments" data-ng-model="ticket.comment" class="coment_textarea"
                                  placeholder="Something about problem" rows="7" type="text"
                                  ng-readonly="readonly"></textarea>
                        <span class="name_author">your name</span><input data-ng-model="ticket.comment_author"
                                                                         type="text"
                                                                         placeholder="John Doe" class="coment_author"
                                                                         ng-readonly="readonly"
                                                                         maxlength="20">


                        <a class="btn btn-primary" ng-click="addReview()" type="submit">Post a comment</a>
                    </div>
                </form>
            </div>
            <div  data-ng-repeat="comment in comments">
                <div class="coment_wrap">
                    <div class="coment_com_leaved">{{comment.comment}}</div>
                    <div class="coment_author_leaved">author: {{comment.author}}</div>
                    <div class="coment_date_leaved">date: {{comment.date}}</div>
                </div>
            </div>


            <div>
                <div class="coment_wrap">
                    <div class="coment_com_leaved" data-ng-bind="ticket.comment" class="coment"></div>
                    <div class="coment_author_leaved" data-ng-bind="ticket.comment_author"></div>
                    <div class="coment_date_leaved">{{comment.date}}</div>
                </div>
            </div>

        </form>
    </div>
</div>
</div>