/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}

body {
    line-height: 1;
    background: #EEEEEC;
}

ol, ul {
    list-style: none;
}

blockquote, q {
    quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}

html, body {
    min-height: 100%;
}

body {
    position: relative;
}

.drop_list {
    min-height: 200px;
}

table {
    border-collapse: collapse;
    border-spacing: 0;
}

header {
    background: none repeat scroll 0 0 #add8e6;
    border-radius: 5px;
    height: 50px;
    margin: 10px auto;
    width: 1050px;
}

header div {
    float: left;
    height: 100%;
    outline: 1px solid white;
    text-align: center;
    width: 70px;
}

header div a {
    color: white;
    position: relative;
    top: 6px;

}

content {

}

.row {
    display: table;
    margin: 0 auto;
    min-height: 200px;
    min-width: 1050px;
    max-width: 900px;

}

.col {
    box-shadow: 5px 10px 10px #fdfdfd;
    border: 1px solid #add8e6;
    background: #FDFDFD;
    display: table-cell;
    width: 32%;
    padding: 10px;
}

.title {
    text-align: center;
    padding-bottom: 10px;
}

.col_name {
    padding-bottom: 5px;
    text-align: center;
    width: 100%;
}

.column_todo {
    border-top: 5px solid red;
    padding-top: 15px;
}

.column_inprogress {
    border-top: 5px solid #ffff00;
    padding-top: 15px;
}

.column_resolved {
    border-top: 5px solid darkgreen;
    padding-top: 15px;
    text-decoration: line-through;
}

.ticket {
    width: 80%;
    color: #000000;
    margin: 10px auto 10px;
    border-radius: 5px;
    padding: 10px;
    border: 1px solid #00B7FD;
    transition: all 0.7s ease 0s;
    cursor: pointer;
}

.ticket:hover {
    background: white;
}

.ticket_content {
    padding: 10px;
    border-radius: 4px;
}

.ticket_content > * {
    display: block;
}

.ticket_date {
    font-size: 11px;
    position: relative;
    text-align: right;
    top: 5px;
}

#col_3 .ticket_title {
    text-decoration: line-through;
}

.ticket_href {
    pointer-events: auto !important;
}

.new_ticket_content, .new_author_content {
    border: 2px solid #ADD8E6;
    border-radius: 5px;
    margin: 0 auto 30px;
    padding: 30px;
    max-width: 600px;
    width: 100%;
}

.board_new_ticket_content {

}

.board_new_ticket_desc {
    width: 100%
}

.post_button {
    margin: 10px auto
}

#created_date {
    display: none;
}

.status_todo {
    display: none;
}

.status_span {
    color: darkgreen;
}

.coment_wrap {
    border: 2px dashed #add8e6;
    margin: 15px auto;
    padding: 10px;
    overflow-x: hidden;
}

.coment_textarea {
    text-indent: 5px;
    height: 60px;
    resize: none;
    width: 100%;
}

.comments_head, .coment_author {
    text-align: center;
    padding: 3px;
}

.name_author {
    position: relative;
}

.post-comment {
    margin-top: 10px;
}

.coment_com_leaved {
    width: 100%;
    border-bottom: 1px solid gray;
    margin: 15px auto;
    padding: 7px;
    font-weight: 800;
}

.coment_author_leaved {
    float: right;

}

#new_ticket_id {
    display: none;
}

.new_ticket_desc {
    height: 90px;
    width: 90%;
    resize: none;
}

.submit_panel {
    margin: 10px auto;
}

.main_title {
    color: black;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
}

.readonly {
    background: #eeeeec;
}

.new_class {
    background: red;
}

.drop_col {
    -webkit-transition: all 0.3s ease 0s;
    -moz-transition: all 0.3s ease 0s;
    -ms-transition: all 0.3s ease 0s;
    -o-transition: all 0.3s ease 0s;
    transition: all 0.3s ease 0s;
    padding-bottom: 200px;
}

.drag-hover-col {
    background: white;
    border: 1px dashed #00b7fd;
}

.ng-invalid.ng-dirty {
    border-color: #FA787E;
    box-shadow: 1px 1px 3px green #FA787E;
}

.ng-valid.ng-dirty {
    border-color: forestgreen;
    box-shadow: 1px 1px 3px green forestgreen;
}

.ng-pristine .ng-invalid {
    border-color: gray;
}

.btn-time-track {
    background: #428bca;
    padding: 10px;
    margin: 10px auto;
    color: white;
}

.ng-modal-overlay {
    display: none; /* ensures it’s invisible until it’s called */
    position: absolute; /* makes the div go into a position that’s absolute to the browser viewing area */
    left: 25%; /* positions the div half way horizontally */
    top: 25%; /* positions the div half way vertically */
    padding: 25px;
    border: 2px solid black;
    background-color: #ffffff;
    width: 50%;
    height: 50%;
    z-index: 100;
}

.ng-modal-dialog {
    z-index: 10000;
    position: absolute;
    width: 50%;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -moz-transform: translate(-50%, -50%);
    background-color: #fff;
    box-shadow: 4px 4px 80px #000;
}

.ng-modal-dialog-content {
    padding: 10px;
    text-align: left;
}

.ng-modal-close {
    position: absolute;
    top: 3px;
    right: 5px;
    padding: 5px;
    cursor: pointer;
    font-size: 120%;
    display: inline-block;
    font-weight: bold;
    font-family: 'arial', 'sans-serif';
}

.table_view_content {
    margin: 0 auto;
    width: 80%
}

.gridStyle {
    border: 1px solid rgb(212, 212, 212);
    width: 100%;
    min-heigth: 300px;
    height: 100%;
    overflow: hidden;
}

.ngViewport {
    overflow: auto;
}

.trackedInp {
    display: block;
    margin: 0 auto;
    width: 80%;
}

.trackedVal, .trackedHead {
    font-family: Lucida Grande;
    font-size: 180%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.trackedHead {
    font-size: 120%;
    margin-top: 20px;
    margin-bottom: 20px;
    text-align: center;
}

.trackedControls {
    margin: auto;
    width: 80%
}

.btn-track {
    background: white;
    height: 25px;
    width: 95px;
    margin-top: 5px;
}

.table-view {
    margin: 0 auto;
    width: 80%;
}

.table-view th {
    border: 1px solid #add8e6;
    padding: 30px;

}

.table-view th a {
    cursor: pointer;
}

.table-view tr {
    display: table-row;
    height: 50px;
    padding: 8px;
    line-height: 20px;
    text-align: left;
    border-top: 1px solid #dddddd;
}

.table-view tbody tr:hover {
    background: white;
}

.table-view td {
    min-width: 100px;
    vertical-align: middle;
    text-align: center;
}

.table-cell {
    outline: 1px solid black;
}

.cancel-board {
    max-width:100px;
    display: block;
    border: 1px solid #dddddd;

}

.pagination-large ul > li > a > i {
    line-height: 17.5px;
}

.pagination ul > li > a, .pagination ul > li > span {
    width: 20px;
}

.tab_head {
    cursor: pointer;
}

.task_block {
    padding: 25px;
    background: #ADD8E6;
    border-radius: 10px;
    margin: 10px auto;
    font-size: 120%;
    text-align: center;
    font-weight: bold;
    font-family: monospace;
}
.ng-hide {
    display: none !important;
}