/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/

html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
    margin: 0;
    padding: 0;
    border: 0;
    font-size: 100%;
    font: inherit;
    vertical-align: baseline;
}
/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
    display: block;
}
body {
    line-height: 1;
    background:#EEEEEC;
}
ol, ul {
    list-style: none;
}
blockquote, q {
    quotes: none;
}
blockquote:before, blockquote:after,
q:before, q:after {
    content: '';
    content: none;
}
table {
    border-collapse: collapse;
    border-spacing: 0;
}
header{
    background: none repeat scroll 0 0 #add8e6;
    border-radius: 5px;
    height: 50px;
    margin: 10px auto;
    width: 800px;
}
header div{

    height: 100%;
    outline: 1px solid white;
    text-align: center;
    width: 70px;
}
header div a{
    color: white;
    position: relative;
    top: 6px;

}
content{

}
.row {
    display: table;
    margin: 0 auto;
    min-height: 200px;
    min-width: 800px;
    max-width: 900px;
}
.col{
    box-shadow: 5px 10px 10px #fdfdfd;
    border:1px solid #add8e6;
    background: #FDFDFD;
    display: table-cell;
    width: 32%;
    padding: 10px;
}
.col_name {
    padding-bottom: 5px;
    text-align: center;
    width: 100%;
}
.first_col{
    border-bottom:5px solid red;
}
.sec_col{
    border-bottom:5px solid #ffff00;
}
.third_col{
    border-bottom:5px solid darkgreen;
}
.bug{
    width:80%;
    color:#000000;
    margin:10px auto 10px;
    border-radius:5px;
    padding: 10px;
}
.bug_content {
    border: 1px solid #00B7FD;
    padding: 10px;
    border-radius: 4px;
}
.bug_content > * {
    display: block;
}
.bug_date {
    font-size: 11px;
    position: relative;
    text-align: right;
    top: 5px;
}
#col_3 .bug_title{
    text-decoration: line-through;
}
.new_ticket_content {
    border: 2px solid #ADD8E6;
    border-radius: 5px;
    margin: 0 auto 30px;
    padding: 30px;
    width: 600px;
}
#created_date{
    display:none;
}
.coment_wrap {
    border: 2px dashed #add8e6;
    margin: 15px auto;
    padding: 10px;
    overflow-x: hidden;
}
.coment_textarea{
    text-indent: 5px;
    height: 60px;
    resize: none;
    width: 100%;
}
.coment_author{
    float:right;

}
.name_author{
    margin-left:295px;
    position:relative;


}
.coment_com_leaved {
    width: 100%;
    border-bottom: 1px solid gray;
    margin: 15px auto;
    padding: 7px;
    font-weight: 800;
}
.coment_author_leaved{
    float:right;

}
#new_bug_id{
    display: none;
}
.new_ticket_desc{
    height: 90px;
    width: 535px;
    resize:none;
}
.submit_panel{
    margin:10px auto;
}
.main_title{
    color: black;
    font-size: 20px;
    font-weight: 800;
    margin-bottom: 10px;
    text-align: center;
    text-decoration: underline;
}
.readonly{
    background: #eeeeec;
}
.ng-invalid.ng-dirty {
    border-color: #FA787E;
    box-shadow: 1px 1px 3px green #FA787E;
}

.ng-valid.ng-dirty {
    border-color: forestgreen;
    box-shadow: 1px 1px 3px green forestgreen;
}
.ng-pristine ng-invalid{
    border-color: gray;
}
