<div>
    <table>
        <thead>
        <tr>
        <td class="btn-group" dropdown is-open="status.isopen">
            <button type="button" class="btn btn-primary dropdown-toggle" ng-disabled="disabled">
                Hide columns<span class="caret"></span>
            </button>
            <ul class="dropdown-menu" role="menu">
                <li ng-repeat="tableHeader in columnsHeaders"><input type="checkbox" ng-model="tableHeader.valid" ng-click="selected(tableHeader)" />{{tableHeader.colName}}</li>
            </ul>
        </td>
        </tr>
        <tr>
            <th ng-repeat="tableHeader in columnsHeaders | filter:{valid:true}"  >
                <a ng-click="reverse=!reverse;order(tableHeader.colName,reverse)">{{tableHeader.colName}}</a>
            </th>
        </tr>
        </thead>
        <tbody>
        <tr ng-repeat="ticket in items | filter: paginate | orderBy:header:reverseSort">
            <td ng-repeat="(key, value) in columnsHeaders | filter:{valid:true}">
                <div bt-table-cell cell-data="ticket[value.colName]" build-cell="template[value.colName] || cell" ng-class="i"></div>
            </td>
        </tr>
        <tr><td><input type="number" ng-model="numPerPage" />tickets per page</td></tr>
        </tbody>

    </table>
    <pagination total-items="totalItems" ng-model="currentPage" max-size="5" boundary-links="true"
                items-per-page="numPerPage" class="pagination-sm"></pagination>
    <div ng-transclude></div>
</div>